<div class="jumbotron">
    <h1>Coleture Podcast</h1>
    <p>Welcome to Coleture the Culture website influenced 100% by Cole. Enjoy your stay, don't take me seriously and share!</p>
    <p>Take a look at our posts and listen to the Podcast.</p>
    
  </div>
