<header>
    <% include ./partials/header %>
</header>

<h1><%= home %></h1>
<p>Welcome to <%= title %></p>

<div class="js-Parallaxify" style="background-image: url('http://lorempixel.com/400/800/sports/')">
    <h1 class="Title">Parallaxify</h1>
    <div class="js-Parallaxify" style="background-image: url('http://ima.gs/transparent/000/f42064/wow-400x200.png');" data-parallaxify-y-min="100" data-parallaxify-y-max="40"></div>
  </div>

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="https://miro.medium.com/max/4092/1*ZJuc_2TsDElu6Gtg_KxiEg.png" data-natural-width="1400" data-natural-height="900" style="height: 429px;"></div>
    <div class="navbar"><span>CSS Parallax Scrolling Tutorial</span></div>  
    <div class="parallax-wrapper">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               ....
               .... 
               Donec in justo eu ligula semper consequat sed a risus.</p>
        </div>
    </div>
    <div class="regular-wrapper">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               ....
               .... 
               Donec in justo eu ligula semper consequat sed a risus.</p>
        </div>
    </div>


<footer class="footer page-footer font-small cyan darken-3">
    <% include ./partials/footer %>
</footer>