<header>
    <% include ./partials/header %>
</header>

<h1><%= home %></h1>
<p>Welcome to <%= title %></p>
<img class="thumbnail" src="https://i.guim.co.uk/img/media/327e46c3ab049358fad80575146be9e0e65686e7/0_56_1023_614/master/1023.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=094ddc96f89a1ea9a4f68d1b585d1f97" alt="image">

<footer class="footer page-footer font-small cyan darken-3">
    <% include ./partials/footer %>
</footer>