<header>
    <% include ./partials/header %>
</header>

<h1><%= home %></h1>
<p>Welcome to <%= title %></p>

<footer class="footer page-footer font-small cyan darken-3">
    <% include ./partials/footer %>
</footer>