<header>
    <% include ./partials/header %>
</header>

<h2><%= data.result.title %></h2>
<span style="display: block;">Written by: <%= data.result.author %></span>

<hr style="width: 40%; float: left;">

<img src='<%= data.result.image%>' style="height: 30vh; display: block; float: left;">

<% include ./partials/comments %>

<footer class="footer page-footer font-small cyan darken-3">
    <% include ./partials/footer %>
</footer>